@import '../../constants/colors.scss';

.button {
    padding: 4px 8px;

    &:enabled {
        cursor: pointer;
    }
}

.button__primary {
    background-color: $background-tertiary;
    border: none;

    &:hover:enabled {
        background-color: $background-tertiary-hightlight;
        color: white;
    }
}

.button__active {
    background-color: $background-tertiary-active;
    color: white;

    &:hover:enabled {
        background-color: $background-tertiary-active;
        color: white;
    }
}

.button__underline {
    background: transparent;
    border: none;
    text-decoration: underline;
    color: $text-primary;

    &:hover:enabled {
        color: $text-primary-highlight;
    }

    &:disabled {
        color: black;
        cursor: default;
    }
}

.button__transparent {
    background: transparent;
    border: none;
    border-radius: 100%;

    &:hover:enabled {
        background-color: $background-tertiary-hightlight;
        color: white;
    }
}


