@import '../../constants/colors.scss';

.button {
    cursor: pointer;
    padding: 4px 8px;
}

.button__primary {
    background-color: $primary;
    border: none;

    &:hover {
        background-color: $primary-highlight;
        color: white;
    }
}

.button__active {
    background-color: $primary-active;
    color: white;

    &:hover {
        background-color: $primary-active;
        color: white;
    }
}

.button__underline {
    background: transparent;
    border: none;
    text-decoration: underline;
    color: $primary-text;

    &:hover {
        color: $primary-text-highlight;
    }

    &:disabled {
        color: black;
        cursor: default;
        &:hover {
            color: black;
        }
    }
}


