$primary: #aeaeb8;
$primary-highlight: #8f87bd;
$primary-active: #6464bb;
$primary-text: #4c95ef;
$primary-text-highlight: #0000be;
$text-contrast: #FFFFFF;
$text-secondary: #656d76;
$border-primary: #d0d7de;
$border-secondary: #353434;
$background-primary: #24292f;
$background-secondary: #ffffffee;
$background-highlight: #ebebeb;
