$text-primary: #4c95ef;
$text-primary-highlight: #0000be;
$text-contrast: #FFFFFF;
$text-secondary: #656d76;
$border-primary: #d0d7de;
$border-secondary: #353434;
$background-primary: #24292f;
$background-secondary: #ffffffee;
$background-tertiary: #aeaeb8;
$background-tertiary-hightlight: #8f87bd;
$background-tertiary-active: #6464bb;
$background-highlight: #ebebeb;
