@import '../../constants/colors.scss';

.searchbar {
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
        margin-top: 0px;
    }
}

.searchbar_inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    align-items: center;
    border: 1px solid $border-primary;
    background-color: $background-secondary;

    span {
        font-size: 18px;
    }

    input {
        outline: none;
        border: none;
        padding: 6px;

        &:first-child {
            border-right: 1px solid $border-primary;
        }
    }
}

.searchbar_button {
    position: absolute;
    right: 5px;
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    padding: 0;
}

@media screen and (max-width: 420px) {
    .searchbar_inputs {
        grid-template-columns: 1fr;

        input {
            &:first-child {
                border-bottom: 1px solid $border-primary;
                border-right: none;
            }
        }
    }

    .searchbar_button {
        top: 32px;
    }
}