.Header {
    padding: 32px;
    background: rgb(36, 41, 47);
    color: white;
    display: flex;
    align-items: center;

    h1 {
        margin: 0 auto 0;
        display: flex;
        gap: 8px;
        align-items: center;
    }

    a {
        color: white;
    }
}