@import '../constants/colors.scss';

.issue-item {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: $background-secondary;
    border: 1px solid $border-primary;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
        border: 1px solid $border-secondary;
        background-color: $background-highlight;
    }

    .issue-item__avatar {
        width: 32px;
        height: 32px;
        border-radius: 32px;
    }

    .issue-item__description {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;

        .issue-item__title {
            font-size: 14px;
            margin: 0;
        }

        .issue-item__info {
            margin: 4px 0 0;
            color: $text-secondary;
            font-size: 10px;
        }
    }

    .issue-item__labels {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        gap: 4px;

        .issue-item__label {
            font-size: 12px;
            border-radius: 8px;
            padding: 4px;
            white-space: nowrap;
        }
    }
}