.searchbar{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    max-width: 960px;
    min-width: 300px;
}

.searchbar_inputs {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid lightgray;
    background-color: white;
    padding: 4px;

    span {
        font-size: 18px;
    }

    input {
        flex-grow: 1;
        outline: none;
        border: none;
        padding: 0;
    }
}

.searchbar_button {
    margin: 0;
    display: flex;
    cursor: pointer;
    width: 20px;
    height: 20px;
}