@import '../constants/colors.scss';

.statistic-item {
    display: grid;
    grid-template-columns: minmax(53px, 1fr) 2fr 4fr 2fr ;
    background-color: $background-secondary;
    
    p {
        display: flex;
        align-items: center;
        margin: 0;
        border-right: 1px solid $border-primary;
        border-bottom: 1px solid $border-primary;
        padding: 4px 8px;
    }
}