@import '../../constants/colors.scss';

.statistic-list {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }

    .statistic-list__item {
        background-color: $background-secondary;
    }

    .statistic-list__header {
        background-color: $background-highlight;
        border-top: 1px solid $border-primary;
    }
}

.loading-container {
    position: relative;
    height: 50vh;
}

@media screen and (max-width: 700px) {
    .statistic-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;

    }

    .statistic-list__item {
        border: 1px solid $border-primary;
        padding: 8px;

        &:first-child {
            display: none;
        }
    }

    .attribute {
        display: grid;
        grid-template-columns: minmax(7em, 30%) 1fr;
        gap: 4px;

        &::before {
            content: attr(data-name);
        }
    }
}

@media screen and (max-width:600px) {
    .statistic-list {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 701px) {
    .statistic-list__item {
        display: grid;
        grid-template-columns: 1fr 1fr 4fr 2fr;
        border-left: 1px solid $border-primary;
    }

    .attribute {
        padding: 10px;
        border-right: 1px solid $border-primary;
        border-bottom: 1px solid $border-primary;
        overflow-wrap: break-word;
    }

    .ip {
        min-width: 120px;
    }

    .type {
        min-width: 130px;
    }

    .parameters {
        min-width: 150px;
    }

    .date {
        min-width: 90px;
    }
}