@import '../../constants/colors.scss';

.statistic-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    margin: 0;
    padding: 0;
    border: 1px solid $border-primary;
    font-size: 16px;

    .statistic-list__header {
        display: grid;
        grid-template-columns: minmax(53px, 1fr) 2fr 4fr 2fr;
        background-color: white;
        font-size: 0.9em;
        border-bottom: 1px solid $border-primary;

        span {
            display: flex;
            align-items: center;
            padding: 4px 8px;
            border-right: 1px solid $border-primary;
        }
    }
}

.loading-container {
    position: relative;
    height: 50vh;
}

@media screen and (max-width: 700px) {
    .statistic-list {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .statistic-list {
        font-size: 12px;
    }
}